
 
body{
  background-image: url("public/images/backgif.gif");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
 
   
   

section{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    height: 300px;
    margin-top: 100px;
   
 
   
   
    
    
}
.box{
    box-shadow: 2px 2px 2px white;
    height: 300px;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px;
  

}
#nav span{
   cursor: pointer;
}
@media screen and (max-width:600px){
   
    section{
        display: block;
    }
    #emailcontainer{
       
       display: flex;
       flex-direction: column;
        width: 590px;
        
    }
    nav span{
        display: block;
    }
    .navbar-toggler{
      
        position: absolute;
        top: 0px;
        left: 0px;
    }
    #signin{
        position: absolute;
        top: 0px;
        right: 0px;
    }

  
}
  
       
    
       
        

    

    